@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
  }
  body {
    background-color: #fff;
  
   
  
  }
  a {
    color: unset;
    text-decoration: none;
  
  }
  h1,h2,h3,p,ul,li,a{
    @apply font-mono
}
.bg {
    @apply bg-hero-pattern h-[860px]
}

.landingbutton{
    @apply bg-red-500 rounded-md hover:from-pink-500 hover:to-yellow-500
}



.m400{
    @apply mx-[25px]   2xl:mx-[400px] xl:mx-[200px] lg:mx-[100px] md:mx-[100px] sm:mx-[50px]  
}
